*,
*::after,
*::before {
  box-sizing: inherit;
}


html {
  box-sizing: border-box;

}

body {
  margin: 0 auto;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1200px;
  padding: 0 10px;
  margin: 0 auto;
  width: 100%;
}


.top__line {
  background: #000000;
  width: 100%;
}

.top__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 45px;
}

.top__info {
  display: flex;
  font-family: 'PT Sans', sans-serif;
  font-size: 12px;
  color: #969696;
}

.phone {
  color: #969696;
  padding-left: 15px;
}

.top__text {
  padding-left: 15px;
}


.top__menu {
  display: flex;
  position: relative;
  margin: 0;
  list-style: none;
  font-size: 12px;
}

.top__link a {
  list-style: none;
  color: #969696;
  display: inline-block;
}

.top__link+.top__link {
  margin-left: 10px;
}


.header {
  width: 100%;
  background-color: #0F0F0F;
}


.header__inner {
  position: relative;
  display: flex;
  justify-content: space-between;
  height: 80px;
  align-items: center;

}


.menu__list {
  display: flex;
  position: relative;
  margin: 0;

}

.menu__item {
  list-style: none;
  margin: 0 15px;

}

.menu__list-link {
  position: relative;
  font-family: 'PT Sans', sans-serif;
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
  text-transform: uppercase;
  color: #969696;
  line-height: 18px;
  padding: 31px 20px;
}

.menu__list-link:hover {
  background-color: #1F1F1F;
  color: #FFFFFF;
  transition: all 0.5s;
}



.intro {
  width: 100%;
  background: url("../img/header.jpg") center no-repeat;
  background-size: cover;
}

.intro__inner {
  padding-top: 160px;
  padding-bottom: 160px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.inner__top {
  width: 320px;
  height: 320px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 4px solid #FFFFFF;
}

.inner__title {
  font-family: 'Post No Bills Jaffna';
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 70px;
  text-align: center;
  color: #FFFFFF;
}

.inner__title::after {
  content: '';
  display: block;
  width: 260px;
  height: 2px;
  background-color: #FFFFFF;
}


.inner__subtitle {
  font-family: 'PT Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-top: 8px;
}

.inner__bottom {
  min-height: 97px;
  max-width: 730px;
  padding-top: 79px;
}

.inner__text {
  text-align: center;
  font-family: 'PT Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}

.season {
  width: 100%;
  background-color: #000000;
}

.season__container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.season__right {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.season_title {
  font-family: "Playfair Display", serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 48px;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  margin: 0;
  padding-top: 93px;
}

.season_title::after {
  content: '';
  display: block;
  width: 120px;
  height: 2px;
  background: #FFFFFF;
  margin: 40px auto;
}

.season__items {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.season__item {
  width: 260px;
  height: 405px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: -25px;
  position: relative;
}

.season__item-name {
  font-family: "Playfair Display", serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
  color: #fff;
  margin-top: 25px;
  position: relative;
  left: -35px;
}

.season__item-price {
  font-family: "Playfair Display", serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  color: #d0d0d0;
  text-align: center;
  margin-top: 10px;
  position: relative;
  left: -60px;

}

.season__left {
  width: 40%;
  /* height: 600px; */
  background: url("../img/catalogue.jpg");
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.season__left-inner {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 80px;

}

.season__left-title {
  font-family: 'Playfair Display', serif;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 48px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 20px;
}

.season__left-title::after {
  content: '';
  display: block;
  width: 120px;
  height: 2px;
  background: #FFFFFF;
  margin: 10px auto;

}

.season__left-btn {
  width: 138px;
  height: 47px;
  background: none;
  font-family: 'PT Sans', 'sans-serif';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  border: 1px solid #FFFFFF;
  color: #FFFFFF;
}

.collections {
  width: 100%;
  background: #000;
  display: flex;
}

.collections__container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.collections__right {
  width: 40%;
  height: 600px;
  background-size: cover;
}

.collections__left {
  width: 60%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.collections__left-inner {
  max-width: 471px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.collections__title {
  font-family: 'Playfair Display', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 48px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF
}

.collections__title::after {
  content: '';
  display: block;
  width: 120px;
  height: 2px;
  background: #FFFFFF;
  margin: 10px auto;
}

.collections__left-text {
  font-family: 'PT Sans', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  text-align: center;
  color: #FFFFFF;
  margin-top: 40px;
}

.collections__left-btn {
  width: 311px;
  height: 47px;
  border: 1px solid #FFFFFF;
  background: none;
  margin-top: 40px;
  font-family: 'PT Sans', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  cursor: pointer;
}

.new_arrivals {
  width: 100%;
  background-color: #000000;
}

.new__arrivals-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 120px;
  padding-bottom: 150px;
}

.new__arrivals-title {
  font-family: "Playfair Display", serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 48px;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  margin: 0;
}

.new__arrivals-title::after {
  content: '';
  display: block;
  width: 120px;
  height: 2px;
  background: #FFFFFF;
  margin: 40px auto;
}


.new__arrivals-items {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 25px;
}

.new__arrivals-item {
  width: 260px;
  text-align: center;
}

.new__arrivals-img {
  background-color: #191b1c;
  padding: 20px 0px;
}

.new__arrivals-name {
  font-family: "Playfair Display", serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
  color: #fff;
  margin-top: 25px;
  position: relative;
  left: -50px;
}

.new__arrivals-price {
  font-family: "Playfair Display", serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  color: #d0d0d0;
  text-align: center;
  margin-top: 10px;
  position: relative;
  left: -75px;
}

.brand {
  background: #0F0F0F;
  width: 100%;
}

.brands__inner {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 80px;
}

.brand__title {
  font-family: "Playfair Display", serif;
  font-weight: bold;
  font-size: 36px;
  line-height: 48px;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  margin: 0;
  padding-top: 60px;
}

.brand__title::after {
  content: '';
  display: block;
  width: 120px;
  height: 2px;
  background: #FFFFFF;
  margin: 30px auto;
}

.brand__items {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
}

.footer {
  background: #0F0F0F;
  width: 100%;
  color: #fff;
}

.footer__top {
  width: 100%;
  background: url("../img/footer.jpg") center no-repeat;
  background-size: cover;
}

.footer__top-inner {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 80px;
  padding-bottom: 60px;
}

.footer__col {
  max-width: 350px;
}

.footer__text-top {
  font-family: 'PT Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #FFFFFF;
  margin: 0;
}


.footer__items {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}

.footer__item {

  background: #0f0f0f;
  color: #d0d0d0;
  padding: 10px 20px;
  ;
}


.footer__form {
  display: flex;
  max-width: 350px;
  padding-top: 30px;
}

.footer__input {
  width: 210px;
  height: 40px;
  background: #ffffff66;
  padding: 10px;
  border: none;
  margin: 0;
  color: #fff;
}

.footer__input::placeholder {
  color: #d0d0d0;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  padding: 10px;
}


.footer__btn {
  font-family: 'PT Sans', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #fff;
  background: #0f0f0f;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
}


.footer__title {
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  text-transform: uppercase;
  color: #FFFFFF;
  padding-bottom: 40px;
  margin: 0;
}

.footer__text-top {
  font-family: 'PT Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #FFFFFF;
  margin: 0;
}


.footer__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
}

.footer__copyright {
  font-family: 'PT Sans', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #D0D0D0;
}

.footer__text {
  font-family: 'PT Sans', sans-serif;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  text-decoration-line: underline;
  color: #D0D0D0;
}



@media (max-width: 1085px) {

  .container {
    padding: 0 15px;
  }

  .footer__col {
    max-width: 325px;
  }

}

@media (max-width: 1030px) {

  .footer-container {
    padding: 0 30px;
  }

  .footer__col {
    max-width: 300px;
  }

  .footer__title {
    padding-bottom: 30px;
  }
}


@media (max-width: 1000px) {
  .top__inner {
    padding: 0 10px;
  }

  .footer__top-inner {
    padding-top: 60px;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .footer__col {
    max-width: 325px;
  }

}


@media (max-width: 790px) {
  .menu {
    display: none;
  }

  .intro__inner {
    padding-top: 110px;
    padding-bottom: 60px;
  }

}

@media (max-width: 770px) {

  .top__text {
    display: none;
  }

  .top__inner {
    padding: 0 8px;
  }

  .inner__text {
    font-size: 14px;
    max-width: 400px;
  }

  .new__arrivals-inner {
    padding-bottom: 80px;
    width: 100%;
  }

}

@media (max-width: 565px) {
  .top__inner {
    padding: 0 5px;
  }

  .top__text {
    display: none;
  }

}

@media (max-width: 440px) {
  .inner__text {
    font-size: 14px;
    max-width: 250px;
  }

  .footer__top-inner {
    padding-top: 35px;
    padding-bottom: 35px;
    gap: 15px;
  }

  .footer__text-top {
    font-size: 14px;
  }

  .footer__form {
    flex-direction: column;
    gap: 20px;
  }

  .footer__input {
    width: 100%;
  }

  .footer__title {
    text-align: center;
    padding-bottom: 20px;
  }

}


@media (max-width: 370px) {


  .footer {
    width: 100%;
  }

  .footer__top-inner {
    padding-top: 35px;
    padding-bottom: 35px;
    gap: 15px;
  }

  .footer__title {
    text-align: center;
    padding-bottom: 20px;
  }

  .footer__col {
    max-width: 280px;
  }

  .footer__form {
    flex-direction: column;
    gap: 20px;
  }

  .footer__input {
    width: 100%;
  }

  .footer__items {
    flex-direction: column;
  }

  .brand__title {
    font-size: 28px;
    padding-top: 40px;
  }

  .brands__inner {
    padding-bottom: 40px;
  }

  .new__arrivals-inner {
    padding: 40px 0;
  }

  .new__arrivals-title {
    font-size: 28px;
  }
}

@media (max-width: 340px) {
  .inner__top {
    width: 280px;
    height: 280px;
  }

  .inner__title {
    font-size: 45px;
  }

  .inner__title::after {
    width: 190px;
  }

  .footer__text-top {
    font-size: 12px;
  }
}